---
- name: create self-signed SSL cert
  command: >
    openssl req -new -nodes -x509 -subj "/C={{item.ssl.country}}/ST={{item.ssl.state}}/L={{item.ssl.locality}}/O={{item.ssl.organization}}/OU={{item.ssl.unit}}/CN={{item.ssl.common_name}}" -days {{item.ssl.days}} -keyout {{nginx_dir}}/ssl/{{item.name}}.key -out {{nginx_dir}}/ssl/{{item.name}}.crt -extensions {{item.ssl.extension}}
    creates={{nginx_dir}}/ssl/{{item.name}}.crt
  notify: reload nginx
  when: item.ssl is defined and item.ssl.enabled
  with_items: www_servers

- name: deploy nginx sites
  template: >
    dest={{nginx_dir}}/sites-available/{{item.name}}
    src=nginx.site.j2
    backup=yes
    owner=root
    group=root
    mode=0644
  when: not item.custom_template is defined
  with_items: www_servers

- name: deploy custom nginx sites
  copy: >
    dest={{nginx_dir}}/sites-available/{{item.name}}
    content="{{item.custom_template}}"
    backup=yes
    owner=root
    group=root
    mode=0644
  when: item.custom_template is defined
  with_items: www_servers

- name: enable nginx sites
  file: >
    path={{nginx_dir}}/sites-enabled/{{item.name}}
    src={{nginx_dir}}/sites-available/{{item.name}}
    state=link
  with_items: www_servers
  notify:
    - restart nginx

